# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.project
.directory
.idea/
.packages
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.dart_tool/
build/
ios/.symlinks/
macos/.symlinks/
android/.gradle/
android/app/local.properties
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Flutter/Generated.xcconfig
macos/Flutter/flutter_export_environment.sh
lib/generated_plugin_registrant.dart
pubspec.lock
